<form [formGroup]="memberForm">
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="prénom" formControlName="firstname" #firstname>
    <mat-error *ngIf="memberForm.get('firstname').errors && memberForm.get('firstname').hasError('minlength')">Il faut un prénom plus long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="nom" formControlName="lastname" #lastname>
    <mat-error *ngIf="memberForm.get('lastname').errors && memberForm.get('lastname').hasError('minlength')">Il faut un nom plus long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Téléphone</mat-label>
    <input matInput placeholder="téléphone" formControlName="mobile" #mobile>
    <button mat-icon-button matSuffix tabindex="-1">
      <mat-icon>phone</mat-icon>
    </button>
    <mat-error *ngIf="memberForm.get('mobile').errors && memberForm.get('mobile').hasError('pattern')">Ce n'est pas un numéro valide</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Photo pour le trombinoscope</mat-label>
    <ngx-mat-file-input formControlName="photo" placeholder="Photo pour le trombinoscope" (change)="upload($event)" accept=".png,.jpg,.jpeg" ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <span>Langue(s) parlée(s) :</span><br>
  &nbsp;<mat-checkbox formControlName="english"><img src="assets/english.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="spanish"><img src="assets/spanish.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="german"><img src="assets/german.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="italian"><img src="assets/italian.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="lsf"><img src="assets/lsf.png" style="width: 30px"></mat-checkbox>
  <br><br>

  <mat-form-field appearance="outline">
    <mat-label>Années de présence (TODO)</mat-label>
    <mat-select formControlName="years" multiple>
      <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="adult">Majeur au 26 juin 2021</mat-checkbox>
  <br><br>


  <span *ngIf="memberForm.invalid">Il manque encore certaines informations...</span>
  <span *ngIf="!memberForm.invalid">C'est bon on a toutes les infos on va te trouver une équipe et te prévenir quand ce sera le cas !<br>(TODO: Oui bon il manque le choix d'équipe etc...)</span>
</form>



<!-- <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Student</h1>
    <p class="custom-text">A demo CRUD  for <strong>student management system</strong> built with <strong>Angular 10
        and Firebase</strong></p>
  </div>


  <form [memberForm]="studentForm" (ngSubmit)="submitStudentData()" novalidate>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="row">

          <div class="col-md-12 mb-3">
            <label>First name</label>
            <input type="text" formControlName="firstName" class="form-control" required>

            <p *ngIf="firstName.touched && firstName.invalid" class="error"><sup>*</sup>Please enter atleast first name</p>
            <p *ngIf="firstName.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
          </div>

          <div class="col-md-12 mb-3">
            <label>Last name</label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" required>

            <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Please provide email</p>
            <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Please enter correct email</p>
          </div>

          <div class="col-md-12 mb-3">
            <label>Mobile number</label>
            <input type="text" formControlName="mobileNumber" class="form-control" required>

            <p *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error"><sup>*</sup>Please provide contact
              number</p>
            <p *ngIf="mobileNumber.errors?.pattern" class="error"><sup>*</sup>Use numbers only
              number</p>
          </div>

        </div>

        <div class="form-group text-right">
          <button type="button" class="btn btn-warning mr-2" (click)="ResetForm()">Reset</button>
          <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Add Student</button>
        </div>

      </div>
    </div>
  </form> -->
