<form [formGroup]="profileForm">
  <mat-form-field appearance="outline">
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="prénom" formControlName="firstname" #firstname>
    <mat-error *ngIf="profileForm.get('firstname').errors && profileForm.get('firstname').hasError('minlength')">Il faut un prénom plus long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="nom" formControlName="lastname" #lastname>
    <mat-error *ngIf="profileForm.get('lastname').errors && profileForm.get('lastname').hasError('minlength')">Il faut un nom plus long</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Téléphone</mat-label>
    <input matInput placeholder="téléphone" formControlName="mobile" #mobile>
    <button mat-icon-button matSuffix tabindex="-1">
      <mat-icon>phone</mat-icon>
    </button>
    <mat-error *ngIf="profileForm.get('mobile').errors && profileForm.get('mobile').hasError('pattern')">Ce n'est pas un numéro valide</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Photo pour le trombinoscope</mat-label>
    <ngx-mat-file-input formControlName="photo" placeholder="Photo pour le trombinoscope" (change)="upload($event)" accept=".png,.jpg,.jpeg" ></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>

  <span>Langue(s) parlée(s) :</span><br>
  &nbsp;<mat-checkbox formControlName="english"><img src="assets/english.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="spanish"><img src="assets/spanish.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="german"><img src="assets/german.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="italian"><img src="assets/italian.png" style="width: 30px"></mat-checkbox>
  &nbsp;<mat-checkbox formControlName="lsf"><img src="assets/lsf.png" style="width: 30px"></mat-checkbox>
  <br><br>

  <mat-form-field appearance="outline">
    <mat-label>Années de présence (TODO)</mat-label>
    <mat-select formControlName="years" multiple>
      <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="adult">Majeur au 26 juin 2021</mat-checkbox>
  <br><br>

    <button mat-button matSuffix tabindex="-1" *ngIf="!isAdmin" (click)="becomeAdmin()">
      Become the admin
    </button>

  <span *ngIf="profileForm.invalid">Il manque encore certaines informations...</span>
  <span *ngIf="!profileForm.invalid">
    C'est bon on a toutes les infos !<br>
    Tu peux maintenant procéder au <a routerLink="/members/team-choice">choix d'équipe</a><br>
  </span>
</form>
