<div *ngIf="mobileQuery.matches" class="app-container is-mobile">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()" [class.invisible]="!dataSource.data.length"><mat-icon>menu</mat-icon></button>
    <h4 class="app-name">{{title}}</h4>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container mat-elevation-z12">
    <mat-sidenav #snav mode="over" [fixedInViewport]="true" fixedTopGap="56" class="menu-card">
      <mat-nav-list>
        <div *ngIf="true;then menu"></div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card class="content-card">
      <router-outlet></router-outlet>
    </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<div *ngIf="!mobileQuery.matches" class="app-container">
  <div class="biggest" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="top top" class="mat-elevation-z12">
      <div [class.invisible]="!dataSource.data.length" class="menu-card">
        <div *ngIf="true;then menu"></div>
      </div>
      <div>
        <mat-toolbar color="primary">{{title}}</mat-toolbar>
        <mat-card class="content-card">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #menu>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li>
        <button mat-raised-button color="primary" (click)="node.func ? node.func() : closeMenu()" [routerLink]="node.link ? node.link : null" [disabled]="node.link == currentPath">{{node.name}}</button>

      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-button matTreeNodeToggle class="menu-button">
            <mat-icon class="mat-icon-rtl-mirror" [style.visibility]="treeControl.isExpanded(node) ? 'hidden' : 'visible'">
              expand_more
            </mat-icon>
            {{node.name}}
          </button>
        </div>
        <ul [class.invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</ng-template>
