<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput placeholder="pat@example.com" [formControl]="email" #userEmail required>
  <button mat-icon-button matSuffix tabindex="-1">
    <mat-icon>email</mat-icon>
  </button>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>

<button mat-raised-button color="primary" (click)="authService.sendPasswordResetEmail(userEmail.value)">Réinitialiser le mot de passe</button>

<br>
<br>
<br>

Retour ? <a mat-raised-button routerLink="/login">S'identifier</a>
